@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
}

@mixin flexCenter($flex-direction){
  display: flex;
  flex-direction: $flex-direction;
  align-items: center;
  justify-content: center;
}